<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movies{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="icon" type="image/x-icon" href="{%static 'icon.png'%}">
</head>

<body class="font-sans bg-gray-800">
    <nav class="bg-gray-900 p-4 flex justify-between items-center">
        <div>
            <img src="{% static 'logo.png' %}" alt="Logo" class="h-8">
        </div>

        <div class="lg:flex items-center space-x-4 text-gray-400 font-bold hidden lg:block">
            <span class="uppercase">{{ user.username }}</span>
            <svg class= "h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <!-- Your SVG content here -->
            </svg>
            <a href="#">Films</a>
            <a href="#">Lists</a>
            <a href="#">Members</a>
            <a href="#">Journal</a>
            <svg class="text-white h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <!-- Your SVG content here -->
            </svg>

            {% if user.is_superuser %}
                <a href="{% url 'add_movie' %}" class="text-white bg-green-500 px-4 py-2 rounded">Add Movie</a>
            {% endif %}

            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-red-500 px-4 py-2 rounded">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="text-white bg-green-500 px-4 py-2 rounded">Login</a>
                <a href="{% url 'register' %}" class="text-white bg-yellow-400 px-4 py-2 rounded">Register</a>
            {% endif %}
        </div>

        <!-- Burger menu-->
        <div class="lg:hidden">
            <button id="burger-menu" class="text-white focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </nav>

    <!-- Menu android -->
    <div id="mobile-menu" class="lg:hidden hidden bg-gray-900 p-4 space-y-2">
        <span class="uppercase text-white font-bold mr-6">{{ user.username }}</span>
        <a href="#" class="text-white font-normal mr-6">Films</a>
        <a href="#" class="text-white font-normal mr-6">Lists</a>
        <a href="#" class="text-white font-normal mr-6">Members</a>
        <a href="#" class="text-white font-normal mr-6">Journal</a>

        {% if user.is_superuser %}
            <a href="{% url 'add_movie' %}" class="text-white bg-green-500 px-4 py-2 rounded">Add Movie</a>
        {% endif %}

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="text-white bg-red-500 px-4 py-2 rounded">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="text-white bg-green-500 px-4 py-2 rounded">Login</a>
            <a href="{% url 'register' %}" class="text-white bg-yellow-400 px-4 py-2 rounded">Register</a>
        {% endif %}
    </div>

    <div class="container mx-auto">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'menu.js' %}"></script>
</body>
</html>